# Terraform specific files
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Crash log files
crash.log

# Exclude any .tfvars files, which are likely to contain sensitive data, such as password, private keys, etc.
*.tfvars

# Ignore override files as they are usually used to override resources locally and should not be part of version control
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include .terraformrc and terraform.rc for better security
terraform.rc
.terraformrc

# Ignore sensitive files
*.pem
*.key

# Ignore local configuration
.terraform.lock.hcl

# Ignore temporary files
*.bak
*.tmp
*.swp
*.backup
